<footer id="site-footer">
        <div class="contents">
                <nav>
                        <ul class="footer__navi tc gosic">
                                <li><a href="about.html">初めての方へ</a></li>
                                <li><a href="about.html#access">クリニック案内</a></li>
                                <li><a href="menu.html">診療内容</a></li>
                                <li><a href="price.html">料金一覧</a></li>
                                <li><a class="js-popup-open open-reserve">来院予約</a></li>
                                <li><a href="https://souki-kai.or.jp/contact/index.php" target="_blank">お問合わせ</a></li>
                        </ul>
                </nav>
        </div>

        <p class="copy tc cw gosic"><small>Copyright(C) 創輝会 All Rights Reserved</small></p>

</footer>
<!-- SP only objects [fixed navigation] -->
<ul class="fixed-nav sp-display gosic">
        <li> <a class="js-popup-open open-reserve">WEB予約</a> </li>
        <li> <a class="js-popup-open open-tel is-first">TEL</a> </li>
        <li> <a href="https://souki-kai.or.jp/contact/index.php" target="_blank">メール相談</a> </li>
</ul>




<!-- [fixed navigation popup] for reserve -->
<div class="fixed-nav-popup popup-reserve gosic">
        <div class="fixed-nav-popup__close">
                <div class="popup-close js-popup-close js-hover is-opacity"> <span class="popup-close__item"></span>
                        <span class="popup-close__item"></span> </div>
        </div>
        <a href="./reserve/kanto.html"
                onclick="return gtag_report_conversion('//connect-app.net/r_yag/reserve/main?cid=2');"
                class="fixed-nav-popup__anchor js-hover is-opacity">新宿院 ON body clinic</a>
        <!-- <a href="/reserve/kanto.html"
                                onclick="return gtag_report_conversion('//connect-app.net/r_yag/reserve/main?cid=2');"
                                class="fixed-nav-popup__anchor js-hover is-opacity">渋谷</a>
                        <a href="./reserve/kanto.html"
                                onclick="return gtag_report_conversion('//connect-app.net/r_yag/reserve/main?cid=2');"
                                class="fixed-nav-popup__anchor js-hover is-opacity">新宿</a>
                        <a href="./reserve/kanto.html"
                                onclick="return gtag_report_conversion('//connect-app.net/r_yag/reserve/main?cid=2');"
                                class="fixed-nav-popup__anchor js-hover is-opacity">池袋</a>
                        <a href="./reserve/kansai.html"
                                onclick="return gtag_report_conversion('//connect-app.net/r_yag/reserve/main?cid=1');"
                                class="fixed-nav-popup__anchor js-hover is-opacity">大阪</a>
                        <a href="./reserve/kansai.html"
                                onclick="return gtag_report_conversion('//connect-app.net/r_yag/reserve/main?cid=1');"
                                class="fixed-nav-popup__anchor js-hover is-opacity">神戸</a>
                        <a href="./reserve/kansai.html"
                                onclick="return gtag_report_conversion('//connect-app.net/r_yag/reserve/main?cid=1');"
                                class="fixed-nav-popup__anchor js-hover is-opacity">心斎橋</a>
                        <a href="./reserve/kyushu.html"
                                onclick="return gtag_report_conversion('//connect-app.net/r_yag/reserve/main?cid=1');"
                                class="fixed-nav-popup__anchor js-hover is-opacity">福岡</a> -->
</div>

<!-- [fixed navigation popup] for tel -->
<div class="fixed-nav-popup popup-tel gosic">
        <div class="fixed-nav-popup__close">
                <div class="popup-close js-popup-close js-hover is-opacity"> <span class="popup-close__item"></span>
                        <span class="popup-close__item"></span> </div>
        </div>
        <a href="./tel/shinjuku02.html" onclick="goog_report_conversion ('tel:')"
                class="fixed-nav-popup__anchor js-hover is-opacity">新宿院 ON body clinic<span
                        class="gothic">0120-972-561</span></a>
        <!-- <a href="./tel/shibuya.html" onclick="goog_report_conversion ('tel:')"
                                class="fixed-nav-popup__anchor js-hover is-opacity">渋谷<span
                                        class="gothic">0120-915-959</span></a>
                        <a href="./tel/shinjuku.html" onclick="goog_report_conversion ('tel:')"
                                class="fixed-nav-popup__anchor js-hover is-opacity">新宿<span
                                        class="gothic">0120-900-253</span></a>
                        <a href="./tel/ikebukuro.html" onclick="goog_report_conversion ('tel:')"
                                class="fixed-nav-popup__anchor js-hover is-opacity">池袋<span
                                        class="gothic">0120-954-711</span></a>
                        <a href="./tel/umeda.html" onclick="goog_report_conversion ('tel:')"
                                class="fixed-nav-popup__anchor js-hover is-opacity">大阪<span
                                        class="gothic">0120-968-838</span></a>
                        <a href="./tel/kobe.html" onclick="goog_report_conversion ('tel:')"
                                class="fixed-nav-popup__anchor js-hover is-opacity">神戸<span
                                        class="gothic">0120-932-784</span></a>
                        <a href="./tel/shinsaibashi.html" onclick="goog_report_conversion ('tel:')"
                                class="fixed-nav-popup__anchor js-hover is-opacity">心斎橋<span
                                        class="gothic">0120-968-692</span></a>
                        <a href="./tel/fukuoka.html" onclick="goog_report_conversion ('tel:')"
                                class="fixed-nav-popup__anchor js-hover is-opacity">福岡<span
                                        class="gothic">0120-657-111</span></a> -->
</div>

<!-- [fixed navigation popup] for group -->
<div class="fixed-nav-popup popup-group">
        <div class="fixed-nav-popup__close">
                <div class="popup-close js-popup-close js-hover is-opacity"> <span class="popup-close__item"></span>
                        <span class="popup-close__item"></span> </div>
        </div>
        <a href="http://www.yag-beauty.jp/price.html" target="_blank"
                class="fixed-nav-popup__anchor js-hover is-opacity">YAG BEAUTY CLINIC</a> <a
                href="http://pico-beauty.jp/price.html" target="_blank"
                class="fixed-nav-popup__anchor js-hover is-opacity">PICO
                BEAUTY CLINIC</a> <a href="http://pico-beauty.jp/tattoo/price.html" target="_blank"
                class="fixed-nav-popup__anchor js-hover is-opacity">PICO BEAUTY CLINIC TATTOO</a> <a
                href="http://www.design-and-beauty.jp/price.html" target="_blank"
                class="fixed-nav-popup__anchor js-hover is-opacity">DESIGN LABO</a> <a
                href="http://yag-beauty.jp/ope/price.html" target="_blank"
                class="fixed-nav-popup__anchor js-hover is-opacity">DESIGN LABO SURGERY</a> <a
                href="http://souki-kai.or.jp/vista-labo/price.html" target="_blank"
                class="fixed-nav-popup__anchor js-hover is-opacity">VISTA LABO</a> <a
                href="http://souki-kai.or.jp/liftup-center/price.html" target="_blank"
                class="fixed-nav-popup__anchor js-hover is-opacity">LIFT UP CENTER</a>
</div>

</div>
<!-- /wrapper -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.4.1/jquery-migrate.min.js"></script>
<link rel="stylesheet" href="<%= path %>/src/css/rangeslider.css">
<script src="<%= path %>/src/js/rangeslider.js"></script>
<script src="<%= path %>/src/js/slick.min.js"></script>
<script src="<%= path %>/src/js/common.js"></script>
<script src="<%= path %>/src/js/scripts.js"></script>
<script>
        $(window).on("load resize", function () {
                if ($(this).width() >= 768) {
                        setTimeout(function () {
                                var maxH = 0;
                                $(".main-flex").find(".section-inner").each(function () {
                                        if ($(this).height() > maxH) maxH = $(this).height();
                                });
                                $(".main-flex").find(".section-inner").height(maxH);
                        }, 200);
                }
        });
</script>

</body>
