<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="<%= path %>/src/css/slick.css">
    <link rel="stylesheet" href="<%= path %>/src/css/style.css?var=1.1">

    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= keywords %>">

    <link rel="apple-touch-icon" sizes="180x180" href="<%= path %>/src/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= path %>/src/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= path %>/src/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta name="format-detection" content="telephone=no" />
    <title><%= title %></title>


</head>


<body>
    <div class="l-wrapper">

        <div class="l-col02-fv u-flex">
            <header class="l-col-left l-header l-pages-header p-header p-header-pages">

                <div class="p-header__inner">
                    <div class="p-header__logo">
                        <a href="<%= path %>/index.html">
                            <img src="<%= path %>/src/img/common/c_site_logo.png" alt="感染症検査クリニック" class="u-pc-only">
                            <img src="<%= path %>/src/img/common/c_site_logo_sp.png" alt="感染症検査クリニック" class="u-sp-only">
                        </a>
                    </div>
                    <!-- ./p-header__logo -->

                    <div class="p-header__cv">
                        <a href="<%= path %>/access.html" class="c-header_btn c-header_btn--info c-bg_blue">クリニック情報</a>
                        <a href="<%= path %>/index.html#link-menu"
                            class="c-header_btn c-header_btn--menu c-bg_pink">診察メニュー</a>
                    </div>
                    <!-- ./p-header__cv -->
                </div>
                <!-- ./p-header__inner -->

            </header>

            <p class="p-nav_text c-blue u-sp-only"><strong>西鉄天神駅から徒歩1分！ 19時まで受付！</strong></p>

            <div class="l-col-right l-top-visual p-first-view">

                <p class="p-nav_text c-blue u-pc-only"><strong>西鉄天神駅から徒歩1分！ 19時まで受付！</strong></p>

                <div class="p-pages-visual">
                </div>
                <!-- ./p-pages-visual -->

                <ul class="l-action_nav p-action_nav c-bg_blue">
                    <li class="p-action_nav__list p-action_nav__list--tel c-action_list c-action_tel">
                        <a href="<%= path %>/tel/kansenshou.html" class="c-action_tel__tit"
                            target="_blank">0120-133-220</a>
                        <p class="action_tel__text">受付 10:00～19:00 不定休</p>
                        <a href="<%= path %>/tel/kansenshou.html"
                            class="c-action_btn u-sp-display p-action_btn p-action_btn--tel"
                            target="_blank">telephone</a>
                    </li>

                    <li class="p-action_nav__list c-action_list ">
                        <p class="c-action_list__tit c-action_list__tit--access">アクセス</p>

                        <a href="<%= path %>/access.html" class="c-action_btn p-action_btn">access</a>
                    </li>
                    <li class="p-action_nav__list c-action_list ">
                        <p class="c-action_list__tit c-action_list__tit--reserve ">来院予約</p>

                        <a class="c-action_btn js-popup-open open-reserve p-action_btn">reservation</a>
                    </li>
                    <li class="p-action_nav__list c-action_list ">
                        <p class="c-action_list__tit c-action_list__tit--contact">お問合わせ</p>

                        <a href="https://souki-kai.or.jp/contact/index.php" class="c-action_btn p-action_btn"
                            target="_blank">mail</a>
                    </li>
                </ul>

            </div>


        </div>
