<% var title = '感染症クリニック | HIV検査'; %>
<% var description = '福岡県天神駅から徒歩4分の所に新たにオープンした、「感染症検査クリニック」。感染症検査クリニックは性病の治療・検査を専門にしたクリニックです。駅近で夜8時まで受付、WEB予約が可能です。コロナウイルスや性病の即日15分検査を始め、さまざまな性病の検査・治療について皆さんのご希望に幅広く対応します。'%>
<% var keywords = '感染症,福岡市,B型肝炎' ;%>
<% var path = '.'; %>
<% include common/_header-pages %>

<!-- 記述 -->
<div class="l-col02_wrapper u-flex">

    <h1 class="l-col-left u-vertical__ttl">
        <span class="u-f-questrial u-vertical__ttl__main">HIV TEST</span>
        <span class="u-vertical__ttl__sub">HIV検査</span>
    </h1>

    <div class="l-col-right">

        <div class="p-pages-about p-pages-about--hiv">
            <h2 class="p-pages-about__tit c-tit-blue">HIVとは？</h2>
            <div class="p-pages-about__textbox p-pages-about__textbox--hiv">
                <p class="p-pages-about__desc">
                                    HIVとは、日本語名でヒト免疫不全ウイルスと言います。<br>様々な細菌やウイルスなどの病原体から守る免疫細胞に感染するウイルスです。
                                    </p>

                <p class="p-pages-about__desc">
                                                                    感染しても何も症状が出ない期間（無症候期）が長く続くが、免疫機能の低下に伴い日和見感染症、悪性腫瘍など指定された23の指標疾患のうちどれかにかかった場合、エイズ発症の診断を受ける事になります。
                                                                        </p>

                <p class="p-pages-about__desc u-mb0">
                                                            今までは死に至る病気と考えられていましたが、現在では現在では医療の発展によりコントロール可能な慢性疾患と考えられ、早期にHIV感染を発見し服薬治療を受ければ免疫力を下げることなく通常の生活を送ることができ、エイズ発症を未然に防ぐことが可能です。</p>
            </div>

        </div>
        <!-- ./p-pages-about -->

        <section class="p-root">
            <div class="l-pages-inner">

                <h2 class="c-tit-blue">感染経路</h2>


                <ul class="c-thumb-list p-root-list c-thumb-list-row03">
                    <li class="c-thumb-list__item c-thumb-list-row03__item">
                        <div class="c-thumb-list__thumb">
                            <img src="<%= path %>/src/img/hiv/root_thumb01.jpg" alt="性行為による感染">
                        </div>
                        <!-- ./c-thumb-list__thumb -->
                        <h3 class="c-thumb-list__ttl c-blue">性行為による感染</h3>
                        <p class="c-thumb-list__desc">
                            現在最も多い感染経路です。<br>HIVを含む精液・膣分泌液・血液などが<br class="u-sp-only">性行為によって相手の性器や肛門、<br class="u-sp-only">口などの粘膜や傷口から体内に入り感染します。<br>正しい予防法を身につけることで感染を<br class="u-sp-only">防ぐことができます。</p>
                    </li>

                    <li class="c-thumb-list__item c-thumb-list-row03__item">
                        <div class="c-thumb-list__thumb">
                            <img src="<%= path %>/src/img/hiv/root_thumb02.jpg" alt="血液を介した感染">
                        </div>
                        <!-- ./c-thumb-list__thumb -->
                        <h3 class="c-thumb-list__ttl c-blue">血液を介した感染</h3>
                        <p
                            class="c-thumb-list__desc">注射器具等の使い回しや献血などによる感染経路です。<br>日本では血液検査により献血で使用される血液は高い安全性が確保されていますが、感染の可能性を100％排除するには至っていません。<br>献血由来の血液凝固因子製剤は加熱処理が行われているため、現在流通している血液凝固因子製剤で感染する可能性は極めて低いと言えます。</p>
                    </li>

                    <li class="c-thumb-list__item c-thumb-list-row03__item">
                        <div class="c-thumb-list__thumb">
                            <img src="<%= path %>/src/img/hiv/root_thumb03.jpg" alt="母子感染">
                        </div>
                        <!-- ./c-thumb-list__thumb -->
                        <h3 class="c-thumb-list__ttl c-blue">母子感染</h3>
                        <p
                            class="c-thumb-list__desc">母親がHIVに感染していると、妊娠中や出産時、授乳などによって子供が感染する可能性があります。<br>昨今では、あらかじめ母親に服薬治療を行うことで、授乳をしないなど対策をとることで、子供への感染を約0.6%以下まで抑えることができています。</p>
                    </li>

                </ul>

            </div>
            <!-- ./l-pages-inner -->
        </section>


        <section class="p-case">
            <div class="l-pages-inner">
                <div class="c-bg-desc">
                    <h3 class="c-blue c-bg-desc__ttl">症状</h3>

                    <p class="c-bg-desc__text c-bg-desc__text--hiv">
                                HIVに感染してもすぐに症状が出るわけではありません、感染後の経過は3つの時期に分類され、感染初期の急性期（感染2～4週間）
                                何も症状のない無症候期、感染後期のエイズ期と分類されています。<br><br class="u-sp-only">急性期では発熱や喉の痛み、だるさなど風邪やインフルエンザに似た症状が現れるが、ほとんどの場合、数日から数週間で症状は収まります。急性期を過ぎると、何も症状のない無症候期と呼ばれる期間が数年～10数年続きます。症状はなくても体内ではHIVが増殖を続けており、免疫力は少しずつ低下しており、ある程度まで免疫力が落ちると急激な体重減少や長く続く下痢、寝汗、帯状疱疹、口腔カンジダなどの症状が出てきます。<br><br class="u-sp-only">治療を受けずに自然経過が長くと、正常な免疫力があれば感染しないような感染症や悪性腫瘍、神経障害などの様々な病気にかかるようになります。厚生労働省の基準として23の疾患を指定しており、<br class="u-sp-only"><span class="c-red">その中のどれか1つでも発病した時点でエイズ期となります。</span>

                            </p>

                </div>
            </div>
        </section>


        <section class="p-inspection">
            <div class="l-pages-inner">
                <ul class="p-inspection-list">
                    <li class="p-inspection-list__item">
                        <h3 class="c-tit-underline p-inspection-list__ttl">通常検査</h3>
                        <div class="p-inspection-list-row u-flex-sb">

                            <div class="p-inspection-list-row__left ">
                                <span class="p-inspection-list-row__point c-bg-r-text">結果報告 5〜7日</span>

                                <p class="p-inspection-list-row__desc">
                                                            患者さまの体内に現在も<br class="u-sp-only">ウイルスが存在するか否かを検査します。<br>詳細な検査を行うことが可能ですので、<br class="u-sp-only">ご自身のお身体の状態をしっかりと把握されたい方に、<br class="u-sp-only">おすすめです。
                                                            </p>
                                <dl class="c-price-row">
                                    <dt class="c-price-row__name">検査料金</dt>
                                    <dd class="c-price-row__price">お問合せ下さい</dd>
                                </dl>
                            </div>
                            <!-- ./p-inspection-list-row__left -->


                            <div class="p-inspection-list-row__thumb">
                                <img src="<%= path %>/src/img/type-b/inspection_thumb01.jpg" alt="通常検査">
                            </div>
                            <!-- ./p-inspection-list-row__thumb -->
                        </div>
                        <!-- ./p-inspection-list__row -->
                    </li>

                    <li class="p-inspection-list__item">
                        <h3 class="c-tit-underline p-inspection-list__ttl">クイック検査</h3>
                        <div class="p-inspection-list-row u-flex-sb">

                            <div class="p-inspection-list-row__left ">
                                <span class="p-inspection-list-row__point c-bg-r-text">結果報告 即日 20〜30分</span>

                                <p class="p-inspection-list-row__desc">
                                                                                検査結果は20〜30分ほどで出ます。<br>現在、HIVを身体から完全に消し去る<br class="u-sp-only">治療法はまだありません。<br>しかし、抗HIV薬を3～4種類組み合わせて内服する方法で、HIVの活動を抑えることができます。<br>感染のお心当たりのある方は<br class="u-sp-only">一日でも早く検査される事をおすすめします。
                                                                                </p>
                                <dl class="c-price-row">
                                    <dt class="c-price-row__name">検査料金</dt>
                                    <dd class="c-price-row__price">お問合せ下さい</dd>
                                </dl>
                            </div>
                            <!-- ./p-inspection-list-row__left -->


                            <div class="p-inspection-list-row__thumb">
                                <img src="<%= path %>/src/img/type-b/inspection_thumb02.jpg" alt="クイック検査">
                            </div>
                            <!-- ./p-inspection-list-row__thumb -->
                        </div>
                        <!-- ./p-inspection-list__row -->
                    </li>
                </ul>
            </div>
            <!-- ./l-pages-inner -->
        </section>


        <% include common/_copy-light %>

    </div>
    <!-- ./l-col-right -->


</div>







<% include common/_footer %>
