<% var title = '感染症クリニック | TOP'; %>
<% var description = '福岡県天神駅から徒歩4分の所に新たにオープンした、「感染症検査クリニック」。感染症検査クリニックは性病の治療・検査を専門にしたクリニックです。駅近で夜8時まで受付、WEB予約が可能です。コロナウイルスや性病の即日15分検査を始め、さまざまな性病の検査・治療について皆さんのご希望に幅広く対応します。'%>
<% var keywords = '感染症,福岡市,天神駅,コロナウイルス,コロナウイルス検査,B型肝炎,C型肝炎,性病検査' ;%>
<% var path = '.'; %>
<% include common/_header %>

<!-- 記述 -->
<section class="l-col02_wrapper l-about u-flex">

    <h2 class="l-col-left u-vertical__ttl">
        <span class="u-f-questrial u-vertical__ttl__main">TREATMENT</span>
        <span class="u-vertical__ttl__sub">診療メニュー</span>
    </h2>

    <div class="l-col-right">
        <div class="l-inner">
            <div class="p-about_desc u-flex">
                <p class="p-about_desc__text">
                                当院では、検査を受けたその日のうちにお知らせする「クイック（迅速）検査」と確認検査も実施して確定結果を1～2週間後にお知らせする「通常検査」をご用意しております。ご都合に合わせてお選びください。
                            </p>
                <a href="#" class="p-about_desc__link">
                    クイック(迅速)<br class="u-pc-only">検査について
                </a>
            </div>
            <!-- ./p-about -->

            <div class="p-treatment" id="link-menu">
                <ul class="p-treatment__lists u-flex u-flex-sb u-flex-wrap">
                    <li class="p-treatment_item">
                        <a href="<%= path %>/coronavirus.html" class="p-treatment_item__link">
                            <div class="p-treatment_item__top">
                                <img src="<%= path %>/src/img/top/treatment_thumb01.jpg" alt="新型コロナの抗体検査"
                                    class="p-treatment_item__thumb u-object-fit">
                                <div class="p-treatment_item__cat">
                                    <span class="c-category p-treatment_item__cat__list">クイック検査</span>
                                    <span class="c-category p-treatment_item__cat__list">通常検査</span>
                                </div>
                            </div>
                            <p class="c-menu_btn p-treatment_item__btn">more</p>
                        </a>
                        <h3 class="c-blue p-treatment_item__ttl">新型コロナの抗体検査</h3>
                        <p
                            class="p-treatment_item__desc">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                    </li>

                    <li class="p-treatment_item">
                        <a href="<%= path %>/venereal-disease.html" class="p-treatment_item__link">
                            <div class="p-treatment_item__top">
                                <img src="<%= path %>/src/img/top/treatment_thumb02.jpg" alt="性病検査
" class="p-treatment_item__thumb u-object-fit">
                                <div class="p-treatment_item__cat">
                                    <span class="c-category p-treatment_item__cat__list">クイック検査</span>
                                    <span class="c-category p-treatment_item__cat__list">通常検査</span>
                                </div>
                            </div>
                            <p class="c-menu_btn p-treatment_item__btn">more</p>
                        </a>
                        <h3 class="c-blue p-treatment_item__ttl">性病検査
</h3>
                        <p
                            class="p-treatment_item__desc">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                    </li>
                    <li class="p-treatment_item">
                        <a href="<%= path %>/hiv.html" class="p-treatment_item__link">
                            <div class="p-treatment_item__top">
                                <img src="<%= path %>/src/img/top/treatment_thumb03.jpg" alt="HIV検査
" class="p-treatment_item__thumb u-object-fit">
                                <div class="p-treatment_item__cat">
                                    <span class="c-category p-treatment_item__cat__list">クイック検査</span>
                                    <span class="c-category p-treatment_item__cat__list">通常検査</span>
                                </div>
                            </div>
                            <p class="c-menu_btn p-treatment_item__btn">more</p>
                        </a>
                        <h3 class="c-blue p-treatment_item__ttl">HIV検査</h3>
                        <p
                            class="p-treatment_item__desc">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                    </li>

                    <li class="p-treatment_item">
                        <a href="<%= path %>/smear.html" class="p-treatment_item__link">
                            <div class="p-treatment_item__top">
                                <img src="<%= path %>/src/img/top/treatment_thumb04.jpg" alt="頚がんスメア・子宮体がんスメア

                    " class="p-treatment_item__thumb u-object-fit">
                                <div class="p-treatment_item__cat">

                                    <span class="c-category p-treatment_item__cat__list">通常検査</span>
                                </div>
                            </div>
                            <p class="c-menu_btn p-treatment_item__btn">more</p>
                        </a>
                        <h3 class="c-blue p-treatment_item__ttl">頚がんスメア・子宮体がんスメア

                    </h3>
                        <p
                            class="p-treatment_item__desc">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                    </li>
                    <li class="p-treatment_item">
                        <a href="<%= path %>/hepatitis-b.html" class="p-treatment_item__link">
                            <div class="p-treatment_item__top">
                                <img src="<%= path %>/src/img/top/treatment_thumb05.jpg" alt="B型肝炎"
                                    class="p-treatment_item__thumb u-object-fit">
                                <div class="p-treatment_item__cat">
                                    <span class="c-category p-treatment_item__cat__list">クイック検査</span>
                                    <span class="c-category p-treatment_item__cat__list">通常検査</span>
                                </div>
                            </div>
                            <p class="c-menu_btn p-treatment_item__btn">more</p>
                        </a>
                        <h3 class="c-blue p-treatment_item__ttl">B型肝炎</h3>
                        <p
                            class="p-treatment_item__desc">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                    </li>

                    <li class="p-treatment_item">
                        <a href="<%= path %>/hepatitis-c.html" class="p-treatment_item__link">
                            <div class="p-treatment_item__top">
                                <img src="<%= path %>/src/img/top/treatment_thumb06.jpg" alt="C型肝炎
                    " class="p-treatment_item__thumb u-object-fit">
                                <div class="p-treatment_item__cat">
                                    <span class="c-category p-treatment_item__cat__list">クイック検査</span>
                                    <span class="c-category p-treatment_item__cat__list">通常検査</span>
                                </div>
                            </div>
                            <p class="c-menu_btn p-treatment_item__btn">more</p>
                        </a>
                        <h3 class="c-blue p-treatment_item__ttl">C型肝炎
                    </h3>
                        <p
                            class="p-treatment_item__desc">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                    </li>
                </ul>
            </div>
            <!-- ./p-treatment -->
        </div>
        <!-- ./l-inner -->

    </div>
    <!-- ./l-col-right -->


</section>




<section class="l-col02_wrapper l-factor u-flex">

    <h2 class="l-col-left u-vertical__ttl">
        <span class="u-f-questrial u-vertical__ttl__main">ADVANTAGE</span>
        <span class="u-vertical__ttl__sub">当院の特徴</span>
    </h2>

    <div class="l-col-right">
        <div class="l-inner">


            <div class="p-advance">
                <ul class="p-advance__lists u-flex u-flex-sb u-flex-wrap">
                    <li class="p-advance_item">
                        <img src="<%= path %>/src/img/top/advantage_thumb01.jpg" alt="検査に特化した専門院
" class="u-object-fit p-advance_item__img">

                        <div class="p-advance_item__contents">
                            <h3 class="p-advance_item__contents__ttl">検査に特化した専門院</h3>
                            <p
                                class="p-advance_item__contents__desc">当院は、検査専門のクリニックです。症状が出ている病気はもちろん、出ていないものも含めて検査・治療しておりますので、不安がある方はご相談ください。</p>
                        </div>
                    </li>
                    <li class="p-advance_item">
                        <img src="<%= path %>/src/img/top/advantage_thumb02.jpg" alt="検査結果は15分～
" class="u-object-fit p-advance_item__img">

                        <div class="p-advance_item__contents">
                            <h3 class="p-advance_item__contents__ttl">検査結果は15分～</h3>
                            <p
                                class="p-advance_item__contents__desc">お忙しい方や、お急ぎの方に向けてクイック検査をご用意しております。検査結果は15分で分かりますので、お待ちいただく必要はございません。</p>
                        </div>
                    </li>

                    <li class="p-advance_item">
                        <img src="<%= path %>/src/img/top/advantage_thumb03.jpg" alt="土日祝も20時まで診療
                    " class="u-object-fit p-advance_item__img">

                        <div class="p-advance_item__contents">
                            <h3 class="p-advance_item__contents__ttl">土日祝も19時まで診療</h3>
                            <p class="p-advance_item__contents__desc">土、日、祝日を含めて即日検査、即日治療を実施しています。<br>診療時間10:00～19:00
</p>
                        </div>
                    </li>
                    <li class="p-advance_item">
                        <img src="<%= path %>/src/img/top/advantage_thumb04.jpg" alt="検査結果は15分～
                    " class="u-object-fit p-advance_item__img">

                        <div class="p-advance_item__contents">
                            <h3 class="p-advance_item__contents__ttl">駅から好アクセス</h3>
                            <p class="p-advance_item__contents__desc">当院は天神駅から徒歩4分の場所にあり、お忙しい方でもお立ち寄りやすい環境を整えております。</p>
                        </div>
                    </li>

                </ul>
            </div>
            <!-- ./p-advance_item -->

            <div class="u-bg-cover p-consultation">

                <h3 class="p-consultation__ttl c-blue">1人で悩まないで相談してください。</h3>

                <p
                    class="p-consultation__desc">当院ではデリケートな事でもご相談いただきやすい<br class="u-sp-only">環境作りを目指しています。<br>分からない事や不安な事、気になる事など…<br>どうかお一人で悩まれずにお気軽にご相談ください。</p>
            </div>
        </div>
        <!-- ./l-inner -->

    </div>
    <!-- ./l-col-right -->


</section>



<section class="l-col02_wrapper l-faq u-flex">

    <h2 class="l-col-left u-vertical__ttl">
        <span class="u-f-questrial u-vertical__ttl__main">FAQ</span>
        <span class="u-vertical__ttl__sub">よくある質問</span>
    </h2>

    <div class="l-col-right">
        <div class="l-inner">

            <!-- ここからスタート -->

            <dl class="p-faq_item">
                <dt class="p-faq_item__qs c-blue u-flex u-align-cent">質問テキストテキストテキストテキストテキスト？<span
                        class="c-category p-faq-category">カテゴリ名</span></dt>
                <dd class="p-faq_item__answer">解答テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                </dd>
            </dl>
            <dl class="p-faq_item">
                <dt class="p-faq_item__qs c-blue u-flex u-align-cent">質問テキストテキストテキストテキストテキスト？<span
                        class="c-category p-faq-category">カテゴリ名</span></dt>
                <dd class="p-faq_item__answer">解答テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                </dd>
            </dl>
            <dl class="p-faq_item">
                <dt class="p-faq_item__qs c-blue u-flex u-align-cent">質問テキストテキストテキストテキストテキスト？<span
                        class="c-category p-faq-category">カテゴリ名</span></dt>
                <dd class="p-faq_item__answer">解答テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                </dd>
            </dl>
            <dl class="p-faq_item">
                <dt class="p-faq_item__qs c-blue u-flex u-align-cent">質問テキストテキストテキストテキストテキスト？<span
                        class="c-category p-faq-category">カテゴリ名</span></dt>
                <dd class="p-faq_item__answer">解答テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                </dd>
            </dl>

        </div>
        <!-- ./l-inner -->

    </div>
    <!-- ./l-col-right -->


</section>


<section class="l-col02_wrapper l-information u-flex">

    <h2 class="l-col-left u-vertical__ttl">
        <span class="u-f-questrial u-vertical__ttl__main">INFORMATION</span>
        <span class="u-vertical__ttl__sub">インフォメーション</span>
    </h2>

    <div class="l-col-right">
        <div class="l-inner">

            <div class="p-information_box u-bg-cover" id="link-clinic">
                <div class="p-information_box__bg">
                    <div class="p-information_box__logo">
                        <img src="<%= path %>/src/img/top/infomation_logo.png" alt="感染症検査クリニック">
                    </div>
                    <!-- ./p-information_box__logo -->

                    <p
                        class="p-information_box__address">〒810-0001　<br class="u-sp-only">福岡市中央区天神2-6-13 <br class="u-sp-only">ジェムキャッスルきらめき通り2階</p>

                    <a href="<%= path %>/tel/kansenshou.html" class="p-information_box__tel c-blue"
                        target="_blank">0120-133-220</a>

                    <p class="p-information_box__sub_number c-blue">FAX : 092-401-1802<br>受付 10:00～19:00 不定休</p>
                </div>
                <ul class="p-info_action u-flex">
                    <li class="p-info_action__list c-action_list ">
                        <p class="p-info_action__list__tit c-action_list__tit c-action_list__tit--reserve">来院予約</p>

                        <a class="c-action_btn js-popup-open open-reserve">reservation</a>
                    </li>
                    <li class="p-info_action__list c-action_list ">
                        <p class="c-action_list__tit p-info_action__list__tit c-action_list__tit--contact">お問合わせ</p>

                        <a href="https://souki-kai.or.jp/contact/index.php" class="c-action_btn"
                            target="_blank">mail</a>
                    </li>
                </ul>

            </div>
            <!-- ./p-information_box -->

            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.6229392244795!2d130.3946608152031!3d33.58913803073451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x68286146ba9ebcf!2z44K444Kn44Og44Kt44Oj44OD44K544Or44KG44GN44GW44GNIOemj-WyoeacrOW6lw!5e0!3m2!1sja!2sjp!4v1590143449033!5m2!1sja!2sjp"
                    width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
                <p
                    class="u-tr"><a href="https://goo.gl/maps/rKwZX3V18AzvrjjAA" class="map__link c-blue" target="_blank">大きな地図で見る</a></p>
            </div>

            <footer class="l-footer">


                <p class="p-footer-copy c-blue u-tc">Copyright(C) 創輝会 All Rights Reserved.</p>



            </footer>


        </div>
        <!-- ./l-inner -->

    </div>
    <!-- ./l-col-right -->


</section>





<% include common/_footer %>
