<% var title = 'ON Body Clinic |  PRICE'; %>
<% var description = '新宿駅徒歩1分の好アクセスにある、ダイエット専門のクリニックON Body Clinic(オン・ボディ・クリニック)GLP-1・BBX・冷却痩身・脂肪吸引をはじめとした、当院自慢のダイエット施術の料金案内のページとなります。'; %>
<% var keywords = '新宿,ダイエット,メディカルダイエット,痩身,脂肪吸引,ラクやせ,冷却痩身,GLP-1',部分痩せ; %>
<% var path = '.'; %>
<% include common/_header-pages %>

<!-- 記述 -->

<div class="pages__title">
    <div class="contents po_rel">

        <h1>PRICE</h1>
        <span>料金案内</span>

        <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                <a href="./index.html" class="js-hover is-opacity" itemprop="item"><span itemprop="name">HOME</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                <a href="./price.html" class="js-hover is-opacity" itemprop="item"><span
                        itemprop="name">PRICE</span></a>
                <meta itemprop="position" content="2" />
            </li>
        </ul>
    </div>
</div><!-- /pages__title -->
<main class="main" role="main">
    <!-- block 01 -->
    <section class="price__list block01 js-view" id="price01">
        <img src="<%= path %>/src/img/price/price_thumb01.png" alt="glp-1" class=" price_thumb thumb01">
        <h1>GLP-1</h1>
        <table class="price-list">
            <!--  <caption>GLP-1処方</caption> -->
            <thead>
                <tr>
                    <th>本数</th>
                    <th>金 額（税別）</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>GLP-1 1本 1週間分</td>
                    <td>12,800円<span></td>
                </tr>
                <tr>
                    <td>GLP-1 4本セット 1ヶ月分</td>
                    <td>9,800円<span class="font-sm">※１本あたり
                            <!-- 39,200円 --></span></td>
                </tr>
            </tbody>
        </table>
    </section>



    <!-- price category 3 -->
    <section class="price__list block02 js-view">
        <img src="<%= path %>/src/img/price/price_thumb02.png" alt="BBX" class="price_thumb thumb02">
        <h1>BBX</h1>
        <!-- table 3-1 -->
        <table class="price-list">
            <!--   <caption>BBX処方</caption> -->
            <thead>
                <tr>
                    <th>内容</th>
                    <th>金 額（税別）</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">お問い合わせください</td>
                    <!--  <td>12,800円</td> -->
                </tr>
            </tbody>
        </table>
    </section>

    <section class="price__list block02 js-view">
        <!--  <img src="<%= path %>/src/img/price/price_thumb02.png" alt="BBX" class="price_thumb thumb02"> -->
        <h1>防風通聖散</h1>
        <!-- table 3-1 -->
        <table class="price-list">
            <!--   <caption>BBX処方</caption> -->
            <thead>
                <tr>
                    <th>内容</th>
                    <th>金 額（税別）</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">お問い合わせください</td>
                    <!--  <td>12,800円</td> -->
                </tr>
            </tbody>
        </table>
    </section>

    <section class="price__list block02 js-view" id="body__tesu">
        <img src="<%= path %>/src/img/price/price_thumb04.png" alt="テスラフォーマー" class="price_thumb thumb04">
        <h1>テスラフォーマー</h1>
        <!-- table 3-1 -->
        <table class="price-list">
            <!--   <caption>BBX処方</caption> -->
            <thead>
                <tr>
                    <th>内容</th>
                    <th>金 額（税別）</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ヒップアップコース 30分</td>
                    <td>19,800円</td>
                </tr>

                <tr>
                    <td>腹筋コース 30分</td>
                    <td>19,800円</td>
                </tr>
                <tr>
                    <td>骨盤底筋群＋背筋(テスラチェア)コース 20分</td>
                    <td>12,800円</td>
                </tr>

                <tr>
                    <td>骨盤底筋群＋背筋＋腹筋コース 30分</td>
                    <td>19,800円</td>
                </tr>
            </tbody>
        </table>
    </section>
    <!--   <section class="price__list block02 js-view" id="body__reduse">
        <img src="<%= path %>/src/img/price/price_thumb05.png" alt="レデュスティム" class="price_thumb thumb02">
        <h1>レデュスティム</h1>

        <table class="price-list">

            <thead>
                <tr>
                    <th>内容</th>
                    <th>金 額（税別）</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">お問い合わせください</td>

                </tr>


            </tbody>
        </table>
    </section> -->
    <section class="price__list block03 js-view" id="price02">
        <img src="<%= path %>/src/img/price/price_thumb03.png" alt="クラツーアルファ" class="price_thumb thumb03">
        <h1>クラツーアルファ</h1>
        <!-- table 3-1 -->
        <table class="price-list">
            <!--  <caption>冷却痩身</caption> -->
            <thead>
                <tr>
                    <th>施術箇所</th>
                    <th>金 額（税別）</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1エリア</td>
                    <td>29,800円</td>
                </tr>
                <tr>
                    <td>2エリア</td>
                    <td>24,800円<span class="font-sm">※1エリアの金額</span>
                        <!-- <span class="font-sm">2エリア分の金額 49,600円</span> -->
                    </td>
                </tr>
                <tr>
                    <td>4エリア</td>
                    <td>19,800円<span class="font-sm">※1エリアの金額</span>
                        <!-- <span class="font-sm">4エリア分79,200円</span> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </section>




    <!-- block 03 -->
    <section class="price__list block04 js-view" id="price03">
        <h1>脂肪吸引</h1>
        <table class="price-list">
            <!-- <caption>脂肪吸引手術</caption> -->
            <thead>
                <tr>
                    <th>施術箇所</th>
                    <th>金 額（税別）</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">お問い合わせください</td>
                    <!--  <td>69,800円</td> -->
                </tr>
                <!-- <tr>
                    <td>首+顎下</td>
                    <td>39,800円</td>
                </tr>
                <tr>
                    <td>顎下</td>
                    <td>19,800円</td>
                </tr> -->
            </tbody>
        </table>
    </section>

    <section class="price__list block05 js-view" id="price04">
        <h1>脂肪溶解注射</h1>
        <table class="price-list">
            <!-- <caption>脂肪吸引手術</caption> -->
            <thead>
                <tr>
                    <th>施術箇所</th>
                    <th>金 額（税別）</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">お問い合わせください</td>
                    <!--  <td>69,800円</td> -->
                </tr>
                <!-- <tr>
                        <td>首+顎下</td>
                        <td>39,800円</td>
                    </tr>
                    <tr>
                        <td>顎下</td>
                        <td>19,800円</td>
                    </tr> -->
            </tbody>
        </table>
    </section>

    </section>
    <!-- price site link -->
    <!--  <div class="price-link">
        <div class="price-link__inner js-view"> <a href="http://www.yag-beauty.jp/price.html" target="_blank"
                class="price-link__item js-hover is-opacity"> <img src="images/price/site_01.svg?20190315"
                    alt="YAG BEAUTY CLINIC" class="price-link__img"> </a> <a href="http://pico-beauty.jp/price.html"
                target="_blank" class="price-link__item js-hover is-opacity"> <img src="images/price/site_02.svg?07032"
                    alt="PICO BEAUTY CLINIC" class="price-link__img"> </a> <a
                href="http://pico-beauty.jp/tattoo/price.html" target="_blank"
                class="price-link__item js-hover is-opacity"> <img src="images/price/site_03.svg?07032"
                    alt="PICO BEAUTY CLINIC TATTOO" class="price-link__img"> </a> <a
                href="http://yag-beauty.jp/ope/price.html" target="_blank" class="price-link__item js-hover is-opacity">
                <img src="images/price/site_05.svg?07032" alt="DESIGN LABO SURGERY" class="price-link__img"> </a> <a
                href="http://www.design-and-beauty.jp/price.html" target="_blank"
                class="price-link__item js-hover is-opacity"> <img src="images/price/site_04.svg?07032"
                    alt="DESIGN LABO" class="price-link__img"> </a> <a
                href="http://souki-kai.or.jp/vista-labo/price.html" target="_blank"
                class="price-link__item js-hover is-opacity"> <img src="images/price/site_06.svg?07032" alt="VISTA LABO"
                    class="price-link__img"> </a> <a href="http://souki-kai.or.jp/liftup-center/price.html"
                target="_blank" class="price-link__item js-hover is-opacity"> <img src="images/price/site_07.svg?07032"
                    alt="LIFT UP CENTER" class="price-link__img"> </a> <a href="http://yag-beauty.jp/venus/price"
                target="_blank" class="price-link__item js-hover is-opacity"> <img src="images/price/site_010.svg?07032"
                    alt="LIFT UP CENTER" class="price-link__img"> </a></div>
    </div> -->

    <!-- yag bottom sns -->
    <section class="btm-sns popup-nav">
        <div class="js-view">
            <h1>

                    <div class="btm-sns__heading-image">
                    <img src="<%= path %>/src/img/common/logo_pages_btm.png" alt="ON_Body_Clinic">
                    </div>
                </h1>
            <div class="btn btn-green js-popup-open open-reserve js-hover is-opacity">ご予約</div>
            <!--  <div class="btm-sns__sns">
                    <a href="https://www.instagram.com/yagbeauty_official/" target="_blank" class="js-hover is-opacity">
                        <span class="screen-reader">instagram</span>
                        <img src="<%= path %>/src/img/common/icon_instagram.svg" alt="instagram">
                    </a>
                    <a href="https://ameblo.jp/yagbeauty-official/" target="_blank" class="js-hover is-opacity">
                        <span class="screen-reader">アメブロ</span>
                        <img src="<%= path %>/src/img/common/icon_ameblo.svg" alt="アメブロ">
                    </a>
                </div> -->
        </div>
    </section>
</main>

<% include common/_footer-pages %>
