<% var title = '感染症クリニック | 性病検査'; %>
<% var description = '福岡県天神駅から徒歩4分の所に新たにオープンした、「感染症検査クリニック」。感染症検査クリニックは性病の治療・検査を専門にしたクリニックです。駅近で夜8時まで受付、WEB予約が可能です。コロナウイルスや性病の即日15分検査を始め、さまざまな性病の検査・治療について皆さんのご希望に幅広く対応します。'%>
<% var keywords = '感染症,福岡市,新型コロナウィルス,コロナウイルス検査' ;%>
<% var path = '.'; %>
<% include common/_header-pages %>

<!-- 記述 -->
<div class="l-col02_wrapper u-flex">

    <h1 class="l-col-left u-vertical__ttl">
        <span class="u-f-questrial u-vertical__ttl__main">VENEREAL EXAMINATION</span>
        <span class="u-vertical__ttl__sub">性病検査</span>
    </h1>

    <div class="l-col-right">

        <div class="p-pages-about p-pages-about--seibyo">
            <h2 class="p-pages-about__tit c-tit-blue">性病とは？</h2>
            <div class="p-pages-about__textbox p-pages-about__textbox--seibyo">
                <p class="p-pages-about__desc">
                    性病とは、性的な行為によって感染する病気の総称です。性的な行為には、<br>性交だけでなく、粘膜接触を含みます。</p>

                <p class="p-pages-about__desc">
                                    発症すると、尿道炎や膿などのように、体に異常が現れる場合もありますが、自覚症状が無いケースも少なくありません。<br>自身が感染したことに気づかないまま他の人との性的接触を重ねていると、感染を広げてしまうことにもなりかねません。</p>

                <p class="p-pages-about__desc u-mb0">
                                                感染を広めない為に、ご自身の体の為にも思い当たる節がある場合は、早めの検査をお勧め致します。 </p>
            </div>

        </div>
        <!-- ./p-pages-about -->

        <section class="p-root">
            <div class="l-pages-inner">

                <h2 class="c-tit-blue">性病の症状</h2>



                <ul class="c-thumb-list p-case-seibyo-list">
                    <li class="c-thumb-list__item p-case-seibyo-list__item">
                        <div class="c-thumb-list__thumb">
                            <img src="<%= path %>/src/img/seibyou/case_thumb01.jpg" alt="垂直感染">
                        </div>
                        <!-- ./c-thumb-list__thumb -->
                        <h3 class="c-thumb-list__ttl c-blue">皮膚の症状</h3>
                        <p
                            class="c-thumb-list__desc c-thumb-list__desc--indent04">男女共通：感染した箇所にしこりができる、リンパ節のはれ、肛門周辺や性器などにイボ、感染部の激しいかゆみ</p>

                        <dl class="c-radius-desc p-radius-desc">
                            <dt class="c-radius-desc__ttl p-radius-desc__ttl">主な病名</dt>
                            <dd class="c-radius-desc__text p-radius-desc__desc c-dark">梅毒・ヘルペス・尖圭コンジローマ・ケジラミ症など</dd>
                        </dl>
                    </li>

                    <li class="c-thumb-list__item p-case-seibyo-list__item">
                        <div class="c-thumb-list__thumb">
                            <img src="<%= path %>/src/img/seibyou/case_thumb02.jpg" alt="水平感染">
                        </div>
                        <!-- ./c-thumb-list__thumb -->
                        <h3 class="c-thumb-list__ttl c-blue">喉の症状</h3>
                        <p class="c-thumb-list__desc c-thumb-list__desc--indent04">男女共通：のどに腫れや痛みがあり、風邪のような症状</p>

                        <dl class="c-radius-desc p-radius-desc">
                            <dt class="c-radius-desc__ttl p-radius-desc__ttl">主な病名</dt>
                            <dd class="c-radius-desc__text p-radius-desc__desc c-dark">クラミジア・淋病など</dd>
                        </dl>
                    </li>

                    <li class="c-thumb-list__item p-case-seibyo-list__item p-case-seibyo-list__item--height-up">
                        <div class="c-thumb-list__thumb">
                            <img src="<%= path %>/src/img/seibyou/case_thumb03.jpg" alt="垂直感染">
                        </div>
                        <!-- ./c-thumb-list__thumb -->
                        <h3 class="c-thumb-list__ttl c-blue">尿道や膣の症状</h3>
                        <p
                            class="c-thumb-list__desc c-thumb-list__desc--indent03"><span class="c-blue-light">男性</span>：尿道のかゆみや不快感、排尿時の軽い痛み、尿道から膿がでる<br class="u-pc-only">副睾丸の腫れ、軽い発熱や痛み</p>

                        <p
                            class="c-thumb-list__desc c-thumb-list__desc--indent03 c-mb0"><span class="c-pink02">女性</span>：おりものの増加、生理以外の出血（不正出血）下腹部の痛み、<br class="u-pc-only">性交時の痛み外陰部や腟の強いかゆみ</p>

                        <dl class="c-radius-desc p-radius-desc">
                            <dt class="c-radius-desc__ttl p-radius-desc__ttl">主な病名</dt>
                            <dd class="c-radius-desc__text p-radius-desc__desc c-dark">クラミジア・淋病・トリコモナス・カンジダなど</dd>
                        </dl>
                    </li>

                    <li class="c-thumb-list__item p-case-seibyo-list__item p-case-seibyo-list__item--height-up">
                        <div class="c-thumb-list__thumb">
                            <img src="<%= path %>/src/img/seibyou/case_thumb04.jpg" alt="水平感染">
                        </div>
                        <!-- ./c-thumb-list__thumb -->
                        <h3 class="c-thumb-list__ttl c-blue">全身に出る症状</h3>
                        <p
                            class="c-thumb-list__desc c-thumb-list__desc--indent03 c-thumb-list__desc--indent03--mb">肝炎：感染した箇所にしこりができる、リンパ節のは<br>れ、肛門周辺や性器などにイボ、感染部の激し<br>いかゆみ</p>

                        <p
                            class="c-thumb-list__desc c-thumb-list__desc--indent03 c-mb0">HIV：免疫力の低下による影響で病原性の弱い細菌や<br>ウイルスなどの日和見感染を起こす。</p>

                        <dl class="c-radius-desc p-radius-desc">
                            <dt class="c-radius-desc__ttl p-radius-desc__ttl">主な病名</dt>
                            <dd class="c-radius-desc__text p-radius-desc__desc c-dark">HIV感染症(エイズ)・A型肝炎・B型肝炎・C型肝炎</dd>
                        </dl>
                    </li>


                </ul>


            </div>
            <!-- ./l-pages-inner -->
        </section>

        <section class="p-inspection">
            <div class="l-pages-inner">
                <ul class="p-inspection-list">
                    <li class="p-inspection-list__item">
                        <h3 class="c-tit-underline p-inspection-list__ttl">通常検査</h3>
                        <div class="p-inspection-list-row u-flex-sb">

                            <div class="p-inspection-list-row__left p-inspection-list-row__left--seibyo">
                                <span class="p-inspection-list-row__point c-bg-r-text">結果報告 5〜7日</span>

                                <p class="p-inspection-list-row__desc">
                                                                明らかな症状がある場合は、専門機関による通常検査をおすすめします。例えば、膿が出ている、おしっこをする時に強い痛みがある、性器がかゆい、熱があるなど、明らかな症状を感じている場合など、クイック検査では分からない、詳細な診断が可能となります。重病の発見が遅くなる前にご自身のお体の状態を把握し適切な治療に繋げることができます。
                                                            </p>
                                <dl class="c-price-row">
                                    <dt class="c-price-row__name">検査料金</dt>
                                    <dd class="c-price-row__price">お問合せ下さい</dd>
                                </dl>
                            </div>
                            <!-- ./p-inspection-list-row__left -->


                            <div class="p-inspection-list-row__thumb">
                                <img src="<%= path %>/src/img/type-b/inspection_thumb01.jpg" alt="通常検査">
                            </div>
                            <!-- ./p-inspection-list-row__thumb -->
                        </div>
                        <!-- ./p-inspection-list__row -->
                    </li>

                    <li class="p-inspection-list__item">
                        <h3 class="c-tit-underline p-inspection-list__ttl">クイック検査</h3>
                        <div class="p-inspection-list-row u-flex-sb">

                            <div class="p-inspection-list-row__left p-inspection-list-row__left--seibyo">
                                <span class="p-inspection-list-row__point c-bg-r-text">結果報告 即日 20〜30分</span>

                                <p class="p-inspection-list-row__desc">
                                                                            現在症状が出ていなくても、不安な行為があった。性病に感染したかもしれないとお心当たりのある方はクイック検査がおすすめです。<br>即日で検査結果がわかるので、早めの対処が<br class="u-sp-only">可能になります。
                                                                                </p>
                                <dl class="c-price-row">
                                    <dt class="c-price-row__name">検査料金</dt>
                                    <dd class="c-price-row__price">お問合せ下さい</dd>
                                </dl>
                            </div>
                            <!-- ./p-inspection-list-row__left -->


                            <div class="p-inspection-list-row__thumb">
                                <img src="<%= path %>/src/img/type-b/inspection_thumb02.jpg" alt="クイック検査">
                            </div>
                            <!-- ./p-inspection-list-row__thumb -->
                        </div>
                        <!-- ./p-inspection-list__row -->
                    </li>
                </ul>


            </div>
            <!-- ./l-pages-inner -->
        </section>


        <% include common/_copy-light %>

    </div>
    <!-- ./l-col-right -->


</div>







<% include common/_footer %>
